$primary-color: #282c34;

.App {
  text-align: center;
  background-color: #fff;
}

.header {
  .navbar-item img {
    max-height: 3.75rem;
  }
}

.home-page {
  .container {
    max-width: 1200px;

  }

  .text-box {
    p {
      color: #fff;
      background-color: #C74900;
      padding: 30px;
      font-weight: 900;
      font-size: 20px;
    }
  }

}

// 404 page not found 
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: #f2f2f2;
}

.not-found h1 {
  font-size: 6em;
  margin-bottom: 20px;
}

.not-found p {
  font-size: 2em;
  margin-bottom: 20px;
}

.not-found a {
  color: #000;
  text-decoration: none;
  font-size: 1.5em;
}

// application-form
.application-form {
  display: flex;
  justify-content: center;

  .container {
    max-width: 800px;
    margin: 20px;
  }
}

// login
.login-form {
  margin-top: 3rem !important;
  max-width: 500px;
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 5rem;


  .field:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .help.is-danger {
    color: red;
  }

  .button.is-success {
    background-color: green;
    color: white;
  }
}

// registration-page

.registration-page {
  .container {
    max-width: 700px;
  }
}

.checkbox .privacy-policy-link {
  margin-left: 5px;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.is-success {
  background-color: green;
  color: white;
}

// modal
.modal1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 700px;
  width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}

.modal1 h2 {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  padding: 20px;
  font-size: 32px;
  font-weight: 600;
}

.modal1 p {
  margin-bottom: 10px;
  font-size: 16ox;
  line-height: 1.5rem;
  color: #666;
  padding: 0 40px;
}

.modal1 button {
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

// registration 
.button.is-loading:after {
  border-color: transparent !important;
  animation: spinAround 500ms infinite linear;
}

@keyframes spinAround {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.password-with-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #363636;
}

.delete-box {
  .confirm-delete-msg {
    font-weight: 900;
    color: red;
    padding: 10px;
    font-size: 20px;
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
}

// hero-bg

.hero-bg {
  padding-top: 3rem;

  .hero-body {
    background-image: url(./images/backgound/sad-cat-background.jpeg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  // background-image: url(./images/backgound/cat-bg7.png);
  // background-position: right;
  // background-size: cover;
  // background-repeat: no-repeat;

  .title {
    color: #535353 !important;
  }

  .hero {
    background-color: #f0f0f0 !important;
  }

  .your-help {
    font-size: 61px;
    color: #7abee9 !important;
    font-weight: 700;
  }

}


.S9gUrf-YoZ4jf {
  margin-top: 25px;
}


// cat product page 
.cat-product {
  .container {
    margin-top: 70px;
  }
}

.cat-product {

  .add-cart {
    position: absolute;
    z-index: 99;
    margin: 7px;
    font-size: 16px;
    color: white;
    background-color: red;
    border-color: red;

    cursor: pointer;
  }

  .msg-staff {
    position: absolute;
    /* right: auto; */
    z-index: 99;
    margin: 7px;
    font-size: 16px;
    cursor: pointer;
    right: 1px;
    bottom: 1px;
    font-size: 20px;
    border-radius: 15px;
    padding: 3px 12px;
  }

  .container {
    .dis-flex {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }

    .has-icons-right {
      width: 100%;
    }

    .is-expanded {
      width: 100%;
    }

    .control {
      display: flex;
      align-items: center;
    }

    .icon {
      position: absolute;
      right: 20px;
    }

    .columns {
      .column {
        .card {
          .card-image {
            .image {
              img {
                object-fit: cover;
                height: 100%;
              }
            }
          }



          .card-content {
            .media {
              .media-content {
                .title {
                  font-size: 1rem;
                  font-weight: bold;
                }

                .subtitle {
                  font-size: 0.875rem;
                  color: gray;
                }
              }
            }

            .content {
              font-size: 0.875rem;
              height: 100px; // Define a height for the content area
              overflow-y: auto; // Allow vertical scrolling if the content overflows
            }
          }
        }
      }
    }
  }
}



.margin-left-2rem {
  margin-left: 2rem
}




// add cat page css 

.add-cat {

  .container {
    max-width: 1200px;
    padding: 30px;

    .dis-flex {
      display: flex;
    }
  }
}

.img-size-200px {
  max-width: 200px
}